<h1>Bienvenidos</h1>

<h2>Perfil</h2>
<div class="col-md-offset-3">
    <form action="Pokemons/subirFoto" enctype="multipart/form-data" method="post">
        <input type="file" name="perfil">
        <input type="submit" value="Submit">
    </form>
</div>