<div class="col-md-4">
    <form action="pokemons/crear" method="post">
        <h2 class="form-signin-heading">Ingrese los datos:</h2>
        <label for="nombre" class="sr-only">Usuario:</label>
        <input id="nombre" name="nombre" type="text" class="form-control" placeholder="Nombre" required="true"
               autofocus=true"">
        <label for="password" class="sr-only">Password:</label>
        <input id="password" name="password" type="password" class="form-control" placeholder="Password"
               required="true">
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Ingresar">
    </form>
</div>
